body {
	background-color: transparent;
    overflow: hidden;
    -webkit-user-select: none;
    padding: 0px;
    margin: 0px;
    background-size: cover;
   	background-position: 50%;
    font-family: Cantarell, Sans-Serif;
    width: 100%;
    height: 100%;
}

#overlay {
	position: absolute;
	z-index: 2;
	left: 0px;
	width: 0px;
	width: 100%;
	height: 100%;

	background-size: cover; 
	background-position: 50%;
}

#bg {
	position: absolute;
	z-index: 1;
	left: 0px;
	width: 0px;
	width: 100%;
	height: 100%;

	background-size: cover; 
	background-position: 50%;
}

#base {
	position: absolute;
	z-index: 3;
	left: 0px;
	width: 0px;
	width: 100%;
	height: 100%;
  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: end;
    -webkit-box-align: center;
}

.hidden {
  opacity: 0;
}

[draggable] {
    -webkit-user-select: none;
}
#launcher {
    background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.9),rgba(0,0,0,0.3),rgba(0,0,0,0.0),rgba(0,0,0,0.0),rgba(0,0,0,0));
    border-width: 0px; 
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    z-index: 1; 
    text-align:center;
}

#launcher:hover {
   
}
/*--*/
.ui-launcher-entry-wrapper {
    display: inline-block;
    height: 80px;
    margin: 0;
    vertical-align: middle;
    -webkit-box-align: center;
}

.ui-launcher-entry-wrapper,
.ui-launcher-entry-img-holder {
    width: 58px;
}

.ui-launcher-entry {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    text-align: center;
    width: 120px;
}

.ui-launcher-entry span {
    white-space: nowrap;
    text-align: center;
    overflow:hidden;
    text-overflow: ellipsis;
    color:transparent;
    font-size: 10px;
   	height: 16px;
    max-width: 105px;
    min-width:60px;
    padding: 4px 7px 4px 7px;
    margin: 0px auto 0 -10;
    vertical-align: middle;
	-webkit-border-radius: 10px;
	z-index: -5;
}

.ui-launcher-entry:hover span {
	content: " ";
	position:relative;
	top: 0px;
	display: block;
	background: #000;
	font-size: 11px;
	text-align: center;
	color: #FFFFFF;
	z-index: 100;
}
.ui-launcher-entry:hover:before {	
	content: " ";
	width: 0px;
	height: 0px;
	border-width: 6px;
	border-style:solid;
	border-color: #000 transparent transparent transparent;
	bottom: 45px;
	margin-left: 20px;
	position: fixed;
	z-index: 99;
}

.ui-launcher-entry-img-holder {
	content:"";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 60px;
    margin-top: 35px;
    z-index: 12;
    position:fixed;
}

.ui-launcher-entry img {
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin: -8px 8px 12px 8px;
    -webkit-transition: all 100ms ease-in-out;
    z-index: 25;
}

.ui-launcher-entry:hover img {
    margin-bottom:30px;
}

.ui-bin-img {
    margin: 10px;
    width: 48px;
    height: 48px;
    -webkit-transition: all 100ms ease-in-out;
}

.ui-bin-img.enter,
.ui-bin:hover {
    width: 70px;
    height: 70px;
} 

.ui-bin {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    margin: auto;
    padding: 10px;
    width: 70px;
    height: 70px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    background: rgba(0,0,0,0.4);
    box-shadow:inset 0 0 20px #000;
    border-radius:20px;
}

.ui-bin.enter {
    background: rgba(255,0,0,0.6);
    opacity: 1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    background: rgba(191,191,191,0.1);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(191,191,191,0)
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 2px;
    background: rgba(191,191,191,0.5)
}
