<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = ""
        version     = "git"
        height      = "600"
        width       = "950">
 
  <name short="Manokwari Theme Changer">
    Manokwari Theme Changer
  </name>

  <description>
    Manokwari Theme Changer
    -------------

    Ini adalah aplikasi untuk merubah Tema untuk Manokwari-shell
  </description>

  <author href="">winardiaris</author>

  <icon src="icon.svg"/>
  <content src="index.html"/>

  <license>
    GNU
  </license>
</widget>
