#sessions {
	width: 100%;
	height: auto;
	margin-top: 0;
	background: transparent;
	color: #FFC0CB;
	text-align:center;
}
li {
	display:inline-block;
    margin: 7px;
    position: relative;
    left: 0px;
    text-align:center;
	background-image: -webkit-linear-gradient(#FF8C9F, #FE7C93);
	border: 1px solid #FF7878;
	box-shadow:0 1px 1px rgba(0,0,0,0.3);
}
li img {
	width: 26px;
	height: 26px;
	margin: -6px -5px 0px -11px;
	padding: 7px;
	cursor:pointer;
}
li:hover img{
	-webkit-transition: all 0.2s ease-in-out;
	background-image: -webkit-linear-gradient(#FFAFBD, #FF90A3);
}
li h2,
li span {
	display:none;
	color: #FFC0CB;
	padding: 4px;
	
}
li:hover span, li:hover h2 {
	content:"";
	display:block;
	position:fixed;
	font-family: Cantarell;
	text-align:left;
	left:10px;
}
li:hover h2 {
	margin: 50px 0 0;
	font-size:1em;
	
}
li:hover span {
	margin: 70px 0 0;
	font-size:0.85em;
}

/***********************************
 * Fonts Collections *
 * *********************************/

@font-face {
    font-family: 'TrendexLightSSi.ttf';
    src: url(../fonts/TrendexLightSSi.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Aurulent Sans';
    src: url(../fonts/AurulentSans-Regular.otf);
    font-weight: 600;
}
