
/*  session */
#listGeneral {
    margin:30px auto 0 auto;
    text-align:center;
}
#listGeneral .ui-listview-item {
    color: #4d4d4d; font-size: 20px; text-align:center;
    margin:0;
    display: inline-block;
    cursor: pointer; width: 20px; height: auto;
    -webkit-transition: color 0.4s;
    text-shadow:none;
   background:transparent;
	border: 1px solid transparent;
	height:20px;
	padding:6px;
	border-radius:3px;
	text-shadow:0 1px 0px #fff;
	
}

#listGeneral .ui-listview-item:hover{
   background:linear-gradient(#FAFAFA,#E6E6E6);
	box-shadow:0 1px 1px rgba(0,0,0,0.5);
	border: 1px solid #afafaf;
	color:#4D4D4D;	
	-webkit-transition: all 0.2s ease-in-out;
}
#listGeneral .ui-listview-item:active,
#listGeneral .ui-listview-item:focus {
	box-shadow:inset 0px 3px 5px rgba(0,0,0,0.2);
	background:linear-gradient(#E6E6E6,#FAFAFA);
}
#listGeneral h2,
#listGeneral span {
	display:none;
	color: #2c2c2c;
	padding: 4px;
	text-shadow:0px 1px 1px #fff;
	
}
#listGeneral .ui-listview-item:hover h2,
#listGeneral .ui-listview-item:hover span{
	color:#4d4d4d;
	content:"";
	display:block;
	z-index:100;
	position:absolute;
	font-family: Cantarell;
	margin:0 auto 0 auto;
	text-align:center;
}
#listGeneral .ui-listview-item:hover h2 {
	margin: -75px 0 0 0;
	font-size:11pt;
	
}
#listGeneral .ui-listview-item:hover span {
	margin: -60px 0 0;
	font-size:9pt;
}

#listGeneral  .ui-listview-first-child {
/*
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
*/
}

#listGeneral  .ui-listview-last-child {
/*
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
*/
}
