body {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-family: Cantarell, Sans Serief;
    font-size: 14px;
}

#listPlaces {
	margin-top:10px;
	margin-left:10px;
}

.ui-page, .ui-content {
    color: #2c2c2c;
    margin: 0 auto 0 auto;
    padding: 0px;
}

.ui-page {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    background-color: #F5F5F7;
}

html {
    overflow: hidden;
    -webkit-user-select: none;
    cursor: default;
}

.ui-mobile-viewport {
}

.ui-animation-slide {
    -webkit-transition: left 0.3s ease-out;
}

.ui-listview {
    margin:0;
    vertical-align: middle;
    padding-bottom: 20px; text-overflow:ellipsis;
    overflow-y:auto;
    width: 246px;
}


.ui-content {
    margin: 5px;
    margin-bottom: 80px;
}




.ui-listview-item-icon {
    vertical-align: top;
    text-align:center;
    display:block; 
    text-overflow:ellipsis;
    height:50px;
    width:50px;
    margin:0 auto 0 auto;
}



/* icon */
.ui-listview-item { 
	width:65px; height:75px;
    color: 2c2c2c; 
    padding:5px;
    vertical-align: middle; font-size: 12px;
    display: inline-block; text-overflow:ellipsis;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    cursor: pointer;padding-bottom: 25px;
    margin: 0;
    background:transparent;
    border-radius:3px;
    -webkit-transition: all 0.2s ease-in-out;
    
}
.ui-listview-item:active,
.ui-listview-item:focus {
	box-shadow:inset 0px 3px 4px rgba(0,0,0,0.2);
}
.ui-listview-item:hover {
    color: #FFF; 
    text-shadow: 0 1px 1px #222;
    background:#4080FB;
}
.ui-listview-item-text { 
	margin-top:10px;
    vertical-align: bottom;
    text-align: center;
}



.ui-listview-header {
   display:none;

}

.ui-listview-first-child {

}

.ui-listview-last-child {

}

.ui-link {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}


span {
    vertical-align: middle;
}

.ui-collapsible {
    margin-left: 5px;
    margin-right: 5px;
    width: 246px;
}

.ui-collapsible-header {
    margin-left: 0px;
    margin-right: 10px;
    padding: 10px;
    display: block;
    color: #2c2c2c;
    cursor: pointer;
    background: #F4F4F4;
    text-shadow:0 1px 0px #fff;
    -webkit-transition:padding-left 0.3s,background 0.2s ease-out;
    border-top:1px solid #fff;
    border-bottom:1px solid #afafaf;
    border-left:1px solid #afafaf;
    border-right:1px solid #afafaf;
    
}


.ui-collapsible-header:hover{
    color: #fff;
    padding-left: 30px;
    text-shadow: 0 1px 1px #222;
    background:-webkit-linear-gradient(#4080FB,#6096FF);
    border:1px solid #4080FB;
}
.ui-collapsible-header:active,
.ui-collapsible-header:focus{
	background:#4D4D4D;
	border:1px solid #4D4D4D;
	color:#fff;
	text-shadow:0 1px 1px #000;
	box-shadow:inset 0px 3px 4px rgba(0,0,0,0.2);
}
.ui-collapsible-header-top {
	border-top:1px solid #afafaf;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}
.ui-collapsible-header-bottom {
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}

.ui-collapsible-control-group {
    overflow: hidden;
    margin: 10px;
    -webkit-transition: height 0.2s ease-out;
}

.ui-back-button {
    background-image: url("../img/go-back.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 3px;
    left: 20px;
    padding: 0px;
    cursor: pointer;
    text-align:center;
    position:absolute;     -webkit-transition: opacity 0.5s;
}

.ui-back-button:hover {
	opacity:0.5;
}

.ui-header {  
	color: #2c2c2c;
    text-shadow: 0 1px 1px #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    padding: 2px 22px 3px 20px;
}
.ui-button {
    background: rgba(255,255,255,0.5);
    position:relative; 
    color: #fff; padding-left:10px; padding-right: 10px;
    font-weight: bold; font-size:25px; margin-top:-30px; z-index:222;
    display:block;bottom:0;margin-bottom:0;
}

.ui-button:hover {
    color:#4080FB;
}


.ui-popup {
    height: 0;
    padding-bottom: 8px;
    -webkit-transition: height 0.5s ease-out;
}

#popup-pool {
    display: none;
}

#userAccount {
    position: fixed;
    clear: both;
    bottom: 0;
    height: 60px;
    width: 100%; 
    margin: 0px 0px -65px 0px;
    padding: 10px 10px 0px 15px;
    z-index: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    #fff-space: nowrap; 
    cursor: pointer;
    -webkit-transition: margin-bottom 0.3s, bottom 0.2s ease-out;
    color:#1A1A1A;
    background: -webkit-linear-gradient(#F4F4F4,#E2E3E5);
    border-top:1px solid #BFBFBF;
 
}

#userAccount:hover {
    margin-bottom: 0px;
}

#userAccount img:hover {
	-webkit-transform:scale(1.05);
}
#userAccount img {
    border: 3px solid #fff;
    float: left;
    width: 48;
    height: 48;
    margin-right: 10px;
    border-radius:25px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}

#userAccount h1 {
    font-size: 18px;
    margin: 0px;
    color:#1A1A1A;
    font-family: 'Aurulent Sans';
}

#userAccount span {
    font-size: 14px;
    font-family: 'Aurulent Sans';
    color:#1A1A1A;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

::-webkit-scrollbar-thumb {
	border-radius:5px;
    background: rgba(191,191,191,0.5)
    /*-webkit-box-shadow: inset 0 0 6px rgba(128,128,128,0.8);*/
}

::-webkit-scrollbar-thumb:hover {
	border-radius:5px;
    background: rgba(191,191,191,0.5)
    /*-webkit-box-shadow: inset 0 0 6px rgba(128,128,128,0.8);*/
}
::-webkit-scrollbar-track:hover {
	background: rgba(191,191,191,0.1);
}


.ui-expandable-icon {
    background-image: url("../img/go-next.svg");
    background-repeat: no-repeat;
    background-position:center;
    width: 22px;
    height: 22px;
    float: right;
    border-left: 1px solid #CACACA;
}

.ui-expandable-icon-expanded {
    background-image: url("../img/go-down.svg");
    background-repeat: no-repeat;
    background-position:center;
    width: 22px;
    height: 22px;
}

.image{
	width:25px;
	float:left;
	margin:0px 10px 5px 5px;
	padding:0 ;
}
.ui-expandable-icon {

}

.ui-expandable-icon-expanded {
}

